<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vader Sentiment Example</title>
    </head>
    <body>
        <p>Submit Sentiment Text</p>
        <div class="vader">
            <form method="POST">
                <input name="sentiment">
                <input type="submit">
            </form>

        </div>
        <!-- <div class="output">
            <p>Submitted Text</p>
                <h1>hello</h1>
        </div> -->
    </body>
</html>